{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="title">Closed Auctions</h2>
  
    <div class="row">
      {% for closed_auction in closed_auctions %} 
      <div class="card mb-3 mx-auto listing-card" style="max-width: 520px;">
          <a class="text-decoration-none" href="{% url 'listing' closed_auction.id %}">
            <div class="row no-gutters"> 
                <div class="col-md-4">
                <img src="{{ closed_auction.imageURL }}" class="card-img" alt="listing image">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-info">{{ closed_auction.title }}</h5>
                    <p class="card-text item-details__description font-weight-normal">{{ closed_auction.description }}</p>
                    <p class="text-danger font-weight-bold mb-4 h2">Closed Auction</p>
                </div>
                </div>
            </div>
          </a>
      </div>
      {% empty %}
      <p class="h4 mx-auto">There are no closed auctions.</p>    
      {% endfor %}
    </div>

{% endblock %}